<div class="container mt-5">
  <h1 class="text-center">About Us</h1>
  <p class="text-center">Ini halaman About Us</p>

  <div class="row mt-4">
    <div class="col-md-6">
      <h4>Tentang Kami</h4>
      <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Quam dapibus
        convallis diam pulvinar himenaeos ridiculus semper. Feugiat ultricies
        congue dignissim interdum facilisis laoreet libero. Dapibus malesuada
        aliquet, ultrices integer ridiculus mauris dictum finibus. Nisl
        imperdiet fermentum finibus, netus platea sodales mollis. Parturient
        elit ut ligula purus interdum lacus ut habitant. Consequat maximus
        sagittis integer cursus pretium ac. Vel viverra platea malesuada lorem
        proin pulvinar. Tristique sociosqu aptent vulputate scelerisque eu etiam
        praesent. Platea fusce blandit nisl vivamus, ullamcorper sed. Velit
        sapien posuere cubilia sed enim fusce dis elit dui. Ipsum etiam
        imperdiet elit cubilia elementum litora libero rutrum. Eget scelerisque
        gravida volutpat eros malesuada id vehicula ullamcorper iaculis. Dictum
        cubilia rhoncus etiam dolor augue morbi pellentesque dictumst. Mi
        blandit consequat fermentum mus imperdiet velit ultricies ultrices.
        Finibus metus dignissim aliquet sociosqu magna molestie aliquam.
        Habitasse mus nullam ridiculus imperdiet curae malesuada. Sapien dictum
        netus urna, taciti venenatis interdum libero. Parturient aliquet
        consequat pretium vehicula ornare nisi integer. Parturient vel tellus
        mus felis hendrerit odio. Facilisi consectetur nam torquent tellus
        ultrices nostra. Imperdiet porttitor viverra; nullam amet convallis
        dapibus malesuada donec. Suspendisse tempus viverra hendrerit vehicula
        dapibus ex torquent. Ornare ad eu penatibus dignissim faucibus dolor.
        Rutrum vivamus nunc habitasse arcu amet aenean ad nec dapibus. Praesent
        vehicula nunc fusce dis consequat leo massa natoque. Elementum iaculis
        dolor sed cubilia malesuada. Adipiscing habitasse egestas amet lectus
        facilisis, sit potenti. Hac id phasellus volutpat neque elit consectetur
        duis. Id consequat neque consequat fusce vivamus tempus eros. Litora
        interdum laoreet est interdum senectus egestas nunc. Euismod fermentum
        quam ut, tincidunt mattis venenatis placerat.
      </p>
    </div>
    <div class="col-md-6">
      <img src="./img/about.jpg" alt="About Us" class="img-fluid rounded" />
    </div>
  </div>
</div>
