<div class="container">
<h2>Program Studi</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Nama Prodi</th>
            <th>Fakultas</th>
            <th>Singkatan</th>
        </tr>
    </thead>
    <tbody>
        <% prodi.forEach(data => { %>
            <tr class=>
                <td><%= data.prodi %></td>
                <td><%= data.fakultas %></td>
                <td><%= data.singkatan %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
</div>
</div>