<h1>Sejarah Singkat Universitas MDP</h1>
<div style="display: flex; justify-content: space-between;">
  <div style="flex: 1; padding-right: 20px; text-align: justify;">
    <p>Berawal dari lembaga kursus yang berorientasi khusus memberikan pelatihan/kursus dari berbagai program aplikasi komputer, MDP didirikan pada tanggal 1 Juli 1987 di kota Palembang, tepatnya di Jalan Rupit No. 20. Pada saat itu fasilitas laboratorium komputer yang ada hanya 2 ruangan, dan pada bulan November 1988 dibuka cabang di Jl. Letkol Iskandar dengan fasilitas 2 ruangan lab. komputer. Seiring berkembangnya zaman khususnya untuk memenuhi kebutuhan tenaga terampil di bidang komputer dan untuk lebih meningkatkan pelayanan, maka manajemen MDP memutuskan mulai 7 Mei 1990 pindah ke lokasi baru di Jl. Lingkaran 1 No. 305 Palembang dengan kapasitas 6 (enam) kelas dan fasilitas kelas lebih baik.</p>
    
    <p>Guna memenuhi permintaan masyarakat yang semakin memerlukan suatu sistem pendidikan yang terarah sesuai bidang pekerjaannya, mulai Agustus 1993 Pusat Pendidikan Komputer MDP membuka Pendidikan Ahli Komputer (Program 1 tahun) setara dengan Diploma I (D1) dengan pilihan jurusan: Teknik Informatika, Teknik Komputer, Komputerisasi Akuntansi, Komputer Desain Grafis, dan pada tahun 2000 ditambah jurusan E-commerce.</p>

    <p>Dengan didasari keinginan untuk berpartisipasi dalam pembangunan Indonesia terutama dalam pengembangan manusia yang berintegritas serta memiliki kemampuan di bidang Teknologi Informasi, Yayasan Multi Data Palembang mengembangkan lembaga pendidikan ke tingkat yang lebih tinggi. Hal ini terwujud dengan terbitnya Surat Keputusan Direktorat Pendidikan Tinggi No. 189/D/O/2000, tanggal 7 September 2000, tentang pendirian Akademi Manajemen Informatika dan Komputer MDP serta pemberian Status Terdaftar untuk program studi Manajemen Informatika (D3) dan Teknik Komputer (D3).</p>

    <p>Pada 9 April 2021, berdasarkan Surat Keputusan Menteri Pendidikan dan Kebudayaan Republik Indonesia No. 125/E/O/2021, AMIK MDP, STMIK GI MDP, dan STIE MDP resmi bergabung menjadi Universitas Multi Data Palembang.</p>
  </div>
  <div style="flex: 0.4;">
    <img src="./img/about.jpg" alt="About Us" style="width: 100%; height: auto; margin-bottom: 20px;" />

    <img src="./img/about2.png" alt="About Us" style="width: 100%; height: auto;" />
  </div>
</div>
