<table class="table">
    <thead>
      <tr>
        <th scope="col">Nama Prodi</th>
        <th scope="col">Fakultas</th>
        <th scope="col">Singkatan</th>
      </tr>
    </thead>
    <tbody>
      <h4>Program Studi</h4> 
      <% prodi.forEach(data => { %>
         <tr class =>
            <td><%= data.Prodi %></td>
            <td><%= data.Singkatan %></td>
            <td><%= data.Fakultas %></td>
         </tr>
      <% }) %>
    </tbody>
  </table>